.sidenav {
  width: 100px;
}

.color-page2 {
  background: linear-gradient(45deg, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  position: relative;
  animation: pastelRainbow 60s ease infinite;
  background-size: 400% 400%;
}
.color-page3 {
  background: linear-gradient(45deg, #051937, #004d7a, #008793);
  position: relative;
  animation: pastelRainbow 30s ease infinite;
  background-size: 400% 400%;
}
body {
  min-height: 700px;
  font-family: 'Montserrat';

}



#rcorners1 {
  border-radius: 15px;
  box-shadow: 5px 10px 25px rgba(0, 0, 0, 0.25);
  height: 500px;
  width: 500px;
  background-color: #fff;
  padding: 10px;
}

#rcorners2 {
  border-radius: 15px;
  box-shadow: 5px 10px 25px rgba(0, 0, 0, 0.25);
}

#rcorners3 {
  border-radius: 15px;
  box-shadow: 5px 10px 25px rgba(0, 0, 0, 0.25);
  margin-top: 500px;
}

.card {
  border-radius: 20px;
  padding: 0px;
}

.reduceheight {
  max-height: 500px;
  border-radius: 20px;
  padding: 0px;
  margin: none;
}

@keyframes pastelRainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.tabs {
  margin-right: 100px;
  overflow-x: hidden;
  color: blue;
}

.card {
  padding: none;
  margin: none;
}

.card-content {
  padding: none;
  margin: none;
}

.card-image {
  padding: none;
  border-radius: 20px;
}
