.icon-block {padding: 0 15px}
.icon-block .material-icons {font-size: inherit}
nav a.button-collapse{display: block}
.btn-save {width: 100%;text-align: center}
.pad-vert-5{padding:5% 0;}
.decorated{border-top:2px solid white;border-bottom:2px solid white;position:relative;z-index:10;padding:2.5% 0;}
.decorated:before{content:"";display:block;position:absolute;z-index:-1;top:4px;bottom:4px;left:0;right:0;border-top:2px solid teal;border-bottom:2px solid teal;}
.underline{text-decoration:underline;}