.sidenav{
width: 100px;
}
.color-page2 {
    background: linear-gradient(45deg, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    position: relative;
    animation: pastelRainbow 15s ease infinite;
    background-size: 400% 400%;
}
body {
  background-image: url("../img/city.jpg");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-attachment: fixed;
  font-family: 'Montserrat';
}
.centered {
  position: fixed;
  top: 50%;
  left: 40%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

 #rcorners1 {
   border-radius: 15px;
   box-shadow: 5px 10px 25px rgba(0, 0, 0, 0.25);
   height: 500px;
   width: 500px;
   background-color: #fff;
   padding: 10px;
 }
#rcorners2 {
  border-radius: 15px;
  box-shadow: 5px 10px 25px rgba(0, 0, 0, 0.25);
}
#rcorners3 {
  border-radius: 15px;
  box-shadow: 5px 10px 25px rgba(0, 0, 0, 0.25);
  margin-top: 500px;
}
.card{
  border-radius: 20px;
  padding: -top:  20px;
}
.reduceheight{
  max-height: 500px;
  max-width:  1000px;
  border-radius: 20px;

}
