
html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Titillium Web', sans-serif;
}

@keyframes pastelRainbow {
    0% {
      background-position: 0% 50%; }
    50% {
      background-position: 100% 50%; }
    100% {
      background-position: 0% 50%;  }
}
a{
    text-decoration: no-underline;
}
body {
    position: relative;
    min-height: 700px;
}

.color-page {
  background: linear-gradient(45deg, red, blue);
    position: relative;
    animation: pastelRainbow 15s ease infinite; 
    background-size: 500% 500%;
}